<div class="col-sm-6">
<div class="container-fluid">
  <div class="jumbotron">
    <h1>News</h1>
  </div>
  <div class="row">
    <img src=http://placekitten.com/g/500/200></img>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.</p>
  </div>
  <div class="row">
    <img src=http://placekitten.com/g/500/200></img>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.</p>
  </div>
  <div class="row">
    <img src=http://placekitten.com/g/500/200></img>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.</p>
  </div>
</div>
</div>

<div class="col-sm-6">
<div class="container-fluid">
  <div class="jumbotron">
    <h1>Feedback &amp; Suggestions</h1>
  </div>
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat.</p>
  </div>
  <div class="row">
    <form class="form" name="feedback">
      <div class="form-group">
        <label for="email">Email (Optional)</label>
        <input type="email" class="form-control" id="email" placeholder="email@domain.com"/>
      </div>
      <div class="form-group">
        <label for="message">Feedback or Suggestion</label>
        <textarea class="form-control" id="message" rows="6"></textarea>
      </div>
      <button class="btn btn-default" name="submit" type="submit">Submit</button>
    </form>
</div>
</div>
